{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Index Title</title>
{% endblock %}
{% block content %}
    <h2 class="mb-2">Movies</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/1.jpg' %}" alt="image1">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">Shazam!</div>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.</p>
                            <p class="card-text">
                                <small class="text-muted">3 days ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/2.jpg' %}" alt="image1">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">Amazing Grace</div>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.</p>
                            <p class="card-text">
                                <small class="text-muted">3 days ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/3.jpg' %}" alt="image1">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">High Life</div>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.</p>
                            <p class="card-text">
                                <small class="text-muted">3 days ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/4.jpg' %}" alt="image1">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">Billboard</div>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.</p>
                            <p class="card-text">
                                <small class="text-muted">3 days ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/5.jpg' %}" alt="image1">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">Storm Boy</div>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.</p>
                            <p class="card-text">
                                <small class="text-muted">3 days ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}